[submodule "External/SFBAudioEngine"]
	path = External/SFBAudioEngine
	url = git://github.com/sbooth/SFBAudioEngine.git
[submodule "External/AFNetworking"]
	path = External/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "External/cocoalibspotify"]
	path = External/cocoalibspotify
	url = git://github.com/indragiek/cocoalibspotify.git
[submodule "External/SSKeychain"]
	path = External/SSKeychain
	url = git://github.com/samsoffes/sskeychain.git
