<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>8tracksExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>MPMediaLibraryExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>SNRMusicKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SNRMusicKitMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SNRMusicKitiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SpotifyExampleMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>iTunesExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03157B2E15EBE3AC0048DB65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03576BB915E9695E00316930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>036991ED15E3EAE1003BCCBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0369921615E3EB0B003BCCBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0369922915E3EB27003BCCBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0369923815E3EB44003BCCBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03927DFF15E69ED700E6483E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03FBED3A15E70FA400A67DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
